body {
  background: linear-gradient(71.63deg, #1C1C1C -17.17%, #003B00 80.68%, #265C4B 118.39%);
}

a {
  text-decoration: none;
  font-family: "Moulpali";
  color: white;
 
}

.site-header {
  display:grid;
  /*position: sticky; top: 0;*/
  font-family: "Moulpali";
  z-index: 2;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,59,0,1) 72%, rgba(38,92,75,1) 100%);
  height: 100px;
  
}
.site-identity h1 {
  font-size: 18px;
  display: flex;
  margin-top: 25px;
}
#logo {
 width: 160px;
 height: 90px;
}
.site-navigation ul, .site-navigation li {
  display: none;
}


main {
  display: flex;
  flex-direction: column;
}


.box1 {
  text-align: center;
}

#page-heading {
  font-size: 48px;
  font-family: Moul;
  color: #FFFFFF;
}

.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
  margin-bottom: 90px;
}

#icon {
  height: 200px;
  width: 215px;
  margin-top: 40px;
}

#support-info {
  height: 315px;
  width: 632px;
  border-radius: 61px;
  background: #2C5741;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#sub-heading {
  font-family: Moul;
  font-size: 36px;
  color: #FFFFFF;
}

#support-description {
  color: #FFFFFF;
  font-size: 20px;
  font-family: Moulpali;
  margin-bottom: 25px;
  margin-top: -25px;
}

.get-involved {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Moulpali;
  outline: none;
  color: #FFFFFF;
  background-color: #589A8D;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;
  height: 65px;
  width: 210px;
  margin-bottom: 60px;
}

.get-involved:hover {
  background-color: #005B00
}

.get-involved:active {
  background-color: #005B00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Input-Section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 45px;
  margin: auto;
}

#Input-Heading-Box {
  height: 136px;
  width: 471px;
  background: #2C5741;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: Moul;
  border-radius: 40px;
  margin-bottom: 90px;
  margin-left: 350px;
}

#Input-Box {
  height: 575px;
  width: 1166px;
  border-radius: 61px;
  background-color: #2C5741;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 90px;
}

#subheading {
  font-family: Moul;
  font-size: 36px;
  color: white;
  margin-right: 15px;
}

#submit {
  height: 69px;
  width: 701px;
  border-radius: 30px;
  text-align: center;
  margin-left: 220px;

}

.submit-button {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Moulpali;
  outline: none;
  color: #FFFFFF;
  background-color: #589A8D;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px #999;
  height: 70px;
  width: 400px;
  padding-bottom: 10px;
  margin-left: 375px;
  margin-top: 30px;
}

.submit-button:hover {
  background-color: #005B00
}

.submit-button:active {
  background-color: #005B00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.site-footer {
  font-family: "Moulpali";
  display: flex;
  color: #FFFFFF;
  justify-content: center;
}

#copyright-text {
  font-size: 36px;
}


@media(max-width: 600px) {
#page-heading {
  font-size: 24px;
  margin-bottom:30px;
}

#ways-to-support{
 display: grid;
 grid-template-rows:repeat(4,1fr);
}

#icon{
  display:none;
}
#support-info{
  height: 250px;
  width: 330px;
  border-radius: 37px;
  margin-right: 100px;
  margin-left: 100px;
}

#sub-heading {
  font-size: 20px;
  padding-top:20px;
  padding-bottom:20px;
}

#support-description {
  font-size: 18px;
  margin-bottom: 25px;
  margin-top: -25px;
}

.get-involved {
  font-size: 14px;
  border-radius: 24px;
  box-shadow: 0 5px #999;
  height: 25px;
  width: 95px;
  margin-bottom: 60px;
}



#Input-Heading-Box{
width:471px;
height:136px;
border-radius:40px;
}

#Input-Box{
  height:330px;
  width: 315px;
  border-radius:40px;
}




}
